* {
    box-sizing: border-box;
}

body {
    background-color: rgba(100, 94, 94, 0.705);
}

.extra-info {
    color: rgb(32, 25, 131);
    line-height: 0.6;
    width:440px;
    height: 80px;
    background: rgba(255, 0, 0, 0.616);
}

.extra-info2, .extra-info3 {
    color: rgb(25, 48, 116);
    padding-top: 5px;
    margin-top: 5px;
    line-height: 0.6;
    width: 440px;
    height: 80px;
    background: red;
}