* {
    box-sizing: border-box;
}

body {
    background-color: rgba(141, 140, 140, 0.705);
}

header {
    margin: 50px 20px;
    font-weight: bolder;
    border: 1px solid rgba(85, 85, 85, 0.459);
    text-align: center;
}


.extra-info, .extra-info2, .extra-info3 {
    color: rgba(85, 104, 163, 0.993);
    background: rgb(18, 34, 82);
    padding: 10px 20px;
    margin-top: 5px;
    width: 440px;
    border: 1px solid rgba(85, 85, 85, 0.459);
    margin-left: auto;
    margin-right: auto;
}

.sale-stuff {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-align: center;

}

img {
    border: 3px solid black;
    padding: 1px;
}

.columns {
    display: flex;
}